{% extends "homebase.html" %}
{% block title %} {{ setting.title }} {% endblock %}
{% block keywoards %} index sayfası anahtar kelimeler{% endblock %}
{% block description %} index sayfası açıklamalara{% endblock %}

    {% block head %}
        <Link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
    {% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}


{% block content %}
  <div id="banner-area"  style="background-color:#23282d; height:40px!important;position:relative; color:fff;background-size:cover;background-position:50% 50%;">
  <div class="banner-text">
          <div class="col-lg-12">
              <div class="banner-heading">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                       <li class="breadcrumb-item"><a href="#">About Us</a></li>

                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->


 <div class="section">
     <div class="container">
         <div class="row">
           {{setting.aboutus | safe}}
         </div>
     </div>
 </div>
{% endblock %}