{% extends "homebase.html" %}
{% block title %} {{ setting.title }} {% endblock %}
{% block keywoards %} index sayfası anahtar kelimeler{% endblock %}
{% block description %} index sayfası açıklamalara{% endblock %}

    {% block head %}
        <Link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
    {% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}


{% block content %}
   <div id="breadcrumb">
       <div class="container">
           <ul class="breadcrumb">
               <li><a href="/">Anasayfa</a> </li>
               <li><a class="active">İletişim</a> </li>

           </ul>

       </div>
   </div>

 <div class="section">
     <div class="container">
         <div class="row">
             <div class="col-md-4">
               <div class="billing-details">
                   <div class="section-title">
                       <h3 class="title">İletişim Formu</h3>
                   </div>
                   {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert{{message.tags}}" role ="alert">
                                {{message}}
                            </div>
                        {% endfor %}
                   {% endif %}
                   <form action="" method="post" class="post-form">
                       {% csrf_token %}
                       {{ form.as_p }}
                       <input type="submit" value="Send FORM">
                   </form>

               </div>
           </div>
             <div class="col-md-8">
             <div class="section-title">
                 <h3 class="title"> İletişim Bilgilerimiz</h3>
             </div>
             {{setting.contact|safe}}
         </div>
          </div>

     </div>
 </div>
{% endblock %}