{% extends "homebase.html" %}
{% block title %} {{ setting.title }} {% endblock %}
{% block keywoards %} {{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

    {% block head %}
        <Link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
    {% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}
{% block slider %}
    {% include 'slider.html' %}
{% endblock %}

{% block body %}
    {% include 'content.html' %}
{% endblock %}