{% extends "homebase.html" %}
{% load static %}
{% block title %} {{ product.title }} {% endblock %}
{% block keywoards %} {{product.keywords}}{% endblock %}
{% block description %}{{product.description}}{% endblock %}

    {% block head %}
        <Link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
    {% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<div id="banner-area"  style="background-color:#23282d; height:40px!important;position:relative; color:fff;background-size:cover;background-position:50% 50%;">
  <div class="banner-text">
          <div class="col-lg-12">
              <div class="banner-heading">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                       <li class="breadcrumb-item"><a href="/category/{{ product.category_id}}/{{ product.category.slug}}">{{ product.category }} </a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{ product.title }} </li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->


    <section id="main-container" class="main-container">
        <div class="container">
              <div class="row">

      <div class="col-lg-12 mb-5 mb-lg-0">

        <div class="post-content post-single">
          <div class="post-media post-image">
            <img loading="lazy" src="{{product.image.url}}" class="img-fluid" alt="post-image">
          </div>

          <div class="post-body">
            <div class="entry-header">
              <div class="post-meta">
                <span class="post-author">
                  <i class="far fa-user"></i><a href="#"> Admin</a>
                </span>
                <span class="post-cat">
                  <i class="far fa-folder-open"></i><a href="#"> News</a>
                </span>
                <span class="post-meta-date"><i class="far fa-calendar"></i> June 14, 2016</span>
                <span class="post-comment"><i class="far fa-comment"></i> 03<a href="#"
                    class="comments-link">Comments</a></span>
              </div>
              <h4 class="entry-title">
                {{ product.title }}
              </h4>

              <h4 class="entry-title">
               fiyat:{{ product.price }}
                 </h4>

              {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert{{message.tags}}" role ="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
              {% endif %}
              <form action="/reservation/addtocart/{{product.id}}" method="post">
                {% csrf_token %}
                <div class="input">
                    <span class="text-uppercase">Adet : </span>
                    <input name="quantity" class="input" type="number" min="0" max="{{product.amount}}" value="1">
                    <br>
                </div>
                  <button type="submit" class="primary-btn"><i class="fa fa-shopping-cart"></i> Add to Chart</button>
              </form>

            </div><!-- header end -->

            <div class="entry-content">
              <p>Ürün Hakkında: {{ product.description }}</p>

              <div class="share-items">
                <ul class="post-social-icons list-unstyled">
                  <li class="social-icons-head">Share:</li>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
                Ürün Bilgisi: {{ product.detail | safe }}
              </div>
            </div>

          </div><!-- post-body end -->
        </div><!-- post content end -->

        <div id="comments" class="comments-area">
          <h3 class="comments-heading"> Comments</h3>

          <ul class="comments-list">
            <li>
              {% for rs in  comments %}
              <div class="comment d-flex">
                <div class="comment-body">
                  <div class="meta-data">
                    <span class="comment-author mr-3">{{rs.user }} </span>
                    <span class="comment-date float-right">{{rs.create_at}}</span>
                  </div>

                  <div class="text-left">
                    <div class="comment-reply font-weight-bold"><h4>{{rs.subject}}</h4>
                      <p>{{rs.comment}}</p>
                    </div>
                  </div>
                </div>
              </div><!-- Comments end -->
              {% endfor %}
            </li><!-- Comments-list li end -->
          </ul><!-- Comments-list ul end -->
        </div><!-- Post comment end -->

        <div class="comments-form border-box">
          <h3 class="title-normal">Add a comment</h3>
          {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert{{message.tags}}" role ="alert">
                                {{message}}
                            </div>
                        {% endfor %}
          {% endif %}
          <p>your email address will not be published</p>
          <form role="form" action="/product/addcomment/{{product.id}}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                <textarea class="input" name="comment"  id="id_comment" placeholder="Your Review"  required></textarea>
                </div>
              </div><!-- Col 12 end -->

              <div class="col-md-12">
                <div class="form-group">
                 <input class="input" name="subject" id="id_subject" placeholder="Subject"  required>
                </div>
              </div><!-- Col 4 end -->
              <div class="col-md-12">
                 <div class="form-group">
                        <div class="input-rating">
                            <strong class="text-uppercase">Puanınız:</strong>
                                <div class="stars">
                                    <input class="star star-5" id="star5" type="radio" name="rate" value="5" /> <label class="star star-5" for="star5"></label>
                                    <input class="star star-4" id="star4" type="radio" name="rate" value="4" /> <label class="star star-4" for="star4"></label>
                                    <input class="star star-3" id="star3" type="radio" name="rate" value="3" /> <label class="star star-3" for="star3"></label>
                                    <input class="star star-2" id="star2" type="radio" name="rate" value="2" /> <label class="star star-2" for="star2"></label>
                                    <input class="star star-1" id="star1" type="radio" name="rate" value="1" /> <label class="star star-1" for="star1"></label>
                                </div>
                        </div>
                    </div>

              </div>


            </div><!-- Form row end -->
            <div class="clearfix">
              {% if user.id is not None %}
              <button class="btn btn-primary" type="submit" aria-label="post-comment">Send Comment</button>
              {% else %}
              Yorum Eklemek için Login Olunuz!
              {%  endif %}
            </div>
          </form><!-- Form end -->
        </div><!-- Comments form end -->
      </div><!-- Content Col end -->

    </div><!-- Main row end -->

        </div><!-- Conatiner end -->
    </section><!-- Main container end -->

{% endblock %}