{% extends "homebase.html" %}
{% block title %} {{ setting.title }} {% endblock %}
{% block keywoards %} index sayfası anahtar kelimeler{% endblock %}
{% block description %} index sayfası açıklamalara{% endblock %}

    {% block head %}
        <Link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
    {% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}


{% block content %}
   <div id="breadcrumb">
       <div class="container">
           <ul class="breadcrumb">
               <li><a href="/">Anasayfa</a> </li>
               <li><a class="active">Referanslarımız</a> </li>

           </ul>

       </div>
   </div>

 <div class="section">
     <div class="container">
         <div class="row">
           {{ setting.references | safe}}
         </div>
     </div>
 </div>
{% endblock %}