{% extends "homebase.html" %}
{% block title %} {{ profile.user_name }} Password Change {% endblock %}
{% block keywoards %} index sayfası anahtar kelimeler{% endblock %}
{% block description %} index sayfası açıklamalara{% endblock %}

    {% block head %}
        <Link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
    {% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}


{% block content %}
   <div id="breadcrumb">
       <div class="container">
           <ul class="breadcrumb">
               <li><a href="/">Anasayfa</a> </li>
               <li><a class="active">User Password</a> </li>

           </ul>

       </div>
   </div>

 <div class="section">
     <div class="container">
         <div class="row">
                 <div class="col-md-9">
                    <div class="section-title">
                        <h3 class="title">Change Password</h3>
                    </div>
                     <div>
                        <img src="{{user.userprofile.image.url}}" style="height:150px; border-radius:45px;">
                     </div>
                        {% if messages %}
                        {% for message in messages %}
                            <div style="color: red; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                     <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color:red;">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                 </div>
         </div>

     </div>
 </div>
{% endblock %}