

        <div class="sidebar sidebar-left">

            <h3 class="widget-title">Solutions</h3>
            <ul class="nav service-menu">
              <li class="active"><a href="/user">User Profile</a></li>
              <li ><a href="/user/orders"> My Orders</a></li>
              <li><a href="/user/comments">My Comments</a></li>
              <li><a href="/user/favorits"> My Favorits</a></li>
              <li><a href="/user/prıoducts">My Products</a></li>
              <li><a href="/logout"> Logout</a></li>
            </ul>
          </div><!-- Widget end -->

