{% extends "homebase.html" %}
{% block title %} {{ profile.user_name }} Order Detail{% endblock %}
{% block keywoards %} index sayfası anahtar kelimeler{% endblock %}
{% block description %} index sayfası açıklamalara{% endblock %}

    {% block head %}
        <Link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
    {% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}


{% block content %}
    <div id="banner-area"  style="background-color:#23282d; height:40px!important;position:relative; color:fff;background-size:cover;background-position:50% 50%;">
  <div class="banner-text">
          <div class="col-lg-12">
              <div class="banner-heading">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                       <li class="breadcrumb-item"><a href="#">User Order Detail </a></li>

                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->
 <div class="section">
     <div class="container">
         <div class="row">
                 <div class="col-md-3">
                {% include "user_panel.html" %}
                </div>
               <div class="col-md-9">
                  <div class="section-title">
                      <h3 class="title">Reservation Shopping Informations</h3>
                         <table style="width:100%">

                              <tr>
                                <th>Name</th>
                                <td>{{order.first_name}}</td>
                              </tr>
                               <tr>
                                <th>Surname</th>
                                <td>{{order.last_name}}</td>
                              </tr>
                              <tr>
                                <th>Phone</th>
                                <td>{{order.phone}}</td>
                              </tr>
                              <tr>
                                  <th>Address</th>
                                  <td>{{order.address}}</td>
                              </tr>
                              <tr>
                                  <th>City</th>
                                  <td>{{order.city}}</td>
                              </tr>
                              <tr>
                                <th>Status</th>
                                <td>{{order.status}}</td>
                             </tr>
                              <tr>
                                <th>Created At</th>
                                <td>{{order.create_at}}</td>
                             </tr>
                              <tr>
                                <th>Shipping</th>
                                <td>{{order.adminote}}</td>
                             </tr>
                        </table>
                     <h3 class="title">  User Order List</h3>
                         </div>
                           <table style="width:100%">
                              <tr>
                                  <th>Id </th>
                                  <th>Product Name </th>
                                  <th>Price </th>
                                  <th>Quantity </th>
                                  <th>Amount </th>
                                  <th>Status </th>
                                  <th>Date </th>

                              </tr>
                               {% for rs in orderitems %}
                              <tr>
                                   <td><a href="/product/{{rs.product_id }}/{{rs.product.slug}}">
                                       <img src="{{ rs.product.image.url }}" height="80" >
                                   </a></td>
                                   <td>{{ rs.product.title }}</td>
                                   <td>{{ rs.price }}</td>
                                   <td>{{ rs.quantity }}</td>
                                   <td>{{ rs.amount }}</td>
                                   <td>{{ rs.status }}</td>
                                   <td>{{ rs.create_at }}</td>
                              </tr>
                                {% endfor %}
                        </table>
                         </div>
         </div>

     </div>
 </div>
{% endblock %}